<% if user_signed_in? %>
<h1><a>Community newsfeed</a> <small>from women around the world</small></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    Connect for Change
  </div>
  <div class="panel-body">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </div>
  <div class="panel-footer">
    July 12, 2015
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Seoul Sisters
  </div>
  <div class="panel-body">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </div>
  <div class="panel-footer">
    June 1, 2015
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Ghana Girls
  </div>
  <div class="panel-body">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  </div>
  <div class="panel-footer">
    May 5, 2015
  </div>
</div>
<% else %>
<!-- Content 1 -->
<div class="col-sm-4 fadeInUp-animated text-center">
  <span class="ion-beaker bordered-icon-sm"></span>
  <h4 class="mt15">Reduce Poverty</h4>
  <p class="p15xs no-margin">Connecting young women to opportunities that foster career building and professional development
</p>
</div>
<!-- Content 2 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-beer bordered-icon-sm"></span>
  <h4 class="mt15">Increase Education</h4>
  <p class="p15xs no-margin">Connecting with schools, organizations and companies to promote safe environments that foster access to knowledge </p>
</div>
<!-- Content 3 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-help-buoy bordered-icon-sm"></span>
  <h4 class="mt15">Inspire Locally</h4>
  <p class="p15xs no-margin">Establishing local teams to develop community engagement and promote sustainability
</p>
</div>
<% end %>
