<% if user_signed_in? %>
<h1><a>Community Newsfeed</a> <small>from women around the world</small></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    We made the front page!
  </div>
  <div class="panel-body">
    <div class="col-xs-2">
      <img src="images/image7.jpg" alt="" height="100" width="100" class="img-responsive img-rounded">
      <h5><%= link_to "Beyonce Knowles"%></h5>
      <h6>Chimehack2 Heroes</h6>
    </div>
    <div class="col-xs-10">
      Hey Connectors, checkout this amazing article on our most recent trip into Ghana!  http://www.nytimes.com
    </div>
  </div>
  <div class="panel-footer">
    Posted On: July 12, 2015
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Web Tech Lecture THIS WEEK in SF!
  </div>
  <div class="panel-body">
    <div class="col-xs-2">
      <img src="images/image6.jpg" alt="" height="100" width="100" class="img-responsive img-rounded">
      <h5><%= link_to "Larry the Bird"%></h5>
      <h6>Chimehack2 Heroes</h6>
    </div>
    <div class="col-xs-10">
      Stop by my birdhouse on Market street today for a lecture on the newest and fastest web technologies.  Learn how to use social media to connect your projects with a broader auidence.  This event will be sponsered by my company...DM me with an RSVP if you want to attend.  It start at 7PM on June 5, 2015!
    </div>
  </div>
  <div class="panel-footer">
    Posted On: June 1, 2015
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Feeling Inspired
  </div>
  <div class="panel-body">
    <div class="col-xs-2">
      <img src="images/image5.jpg" alt="" height="100" width="100" class="img-responsive img-rounded">
      <h5><%= link_to "Tiyanna Long"%></h5>
      <h6>Chimehack2 Heroes</h6>
    </div>
    <div class="col-xs-10">
      I just had the most amazing experience at the Literacy Center today.  We had a chess challenge night.  I paired with a 5th grader who turned out to be an amazing chess player.  I was so humbled.  It just reminds me that even the youngest children have so much talent that adults need to recognize.  So glad I joined Connect for Change or I never would have had this experience.  Love.
    </div>
  </div>
  </div>
  <div class="panel-footer">
    Posted On: May 5, 2015
  </div>
</div>
<% else %>
<!-- Content 1 -->
<div class="col-sm-4 fadeInUp-animated text-center">
  <span class="ion-beaker bordered-icon-sm"></span>
  <h4 class="mt15">Reduce Poverty</h4>
  <p class="p15xs no-margin">Connecting young women to opportunities that foster career building and professional development
</p>
</div>
<!-- Content 2 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-beer bordered-icon-sm"></span>
  <h4 class="mt15">Increase Education</h4>
  <p class="p15xs no-margin">Connecting with schools, organizations and companies to promote safe environments that foster access to knowledge </p>
</div>
<!-- Content 3 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-help-buoy bordered-icon-sm"></span>
  <h4 class="mt15">Inspire Locally</h4>
  <p class="p15xs no-margin">Establishing local teams to develop community engagement and promote sustainability
</p>
</div>
<% end %>
