<% unless user_signed_in? %>
<!-- Content 1 -->
<div class="col-sm-4 fadeInUp-animated text-center">
  <span class="ion-beaker bordered-icon-sm"></span>
  <h4 class="mt15">We do connect powerful females.</h4>
  <p class="p15xs no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
</div>
<!-- Content 2 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-beer bordered-icon-sm"></span>
  <h4 class="mt15">We tell inspiring stories.</h4>
  <p class="p15xs no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
</div>
<!-- Content 3 -->
<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
  <span class="ion-help-buoy bordered-icon-sm"></span>
  <h4 class="mt15">We create a connected network.</h4>
  <p class="p15xs no-margin">Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia.</p>
</div>
<% end %>
