Get to know your fellow mentees!

<div class="panel panel-default">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
    </tr>
    <tr>
      <td><%=@group.name%></td>
      <td><%=@group.location%></td>
    </tr>
  </table>

 <table class="table">
    <tr>
      <th>Members</th>
    </tr>
    <tr>
  <% @group.users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%=user.email%></td>
    </tr>
  <%end%>
</div>
