<h1>Project Spotlight</h1>
<div class="col-sm-4">
<iframe height="200" src="https://www.youtube.com/embed/WZnyidOK-k0" frameborder="0" allowfullscreen></iframe><br>
<h3>Chimehack2 Heroes</h3>
</div>
<div class="col-sm-4">
<iframe height="200" src="https://www.youtube.com/embed/YzC46nNCT-Y" frameborder="0" allowfullscreen></iframe><br>
<h3>Empowering The Youth</h3>
</div>

<div class="col-sm-4">
  <iframe class="embed-responsive-item" height="200" src="https://www.youtube.com/embed/vnAKMJ1KpqY" frameborder="0" allowfullscreen></iframe><br>
  <h3>Chime For Change</h3>
</div>

<hr>

<div class="col-sm-4">
  <img src="/assets/book1.jpg">
</div>
<div class="col-sm-4">
  <%= image_tag "book4.jpg" %>
</div>
<div class="col-sm-4">
  <%= image_tag "book5.jpg", width: "95%" %>
</div>
