<div class="row">
    <!-- About -->
    <div class="col-sm-3">
        <div class="heading-footer"><h4>About</h4></div>
        <p> Striving to solve socio-economic problems facing the next generation. Women in developing countries need a way to unite with successful leaders and form genuine, productive, and safe relationships. Cultivating an environment that foster and promotes innovation. Connecting to create change.</p>
        <a href="https://wrapbootstrap.com/theme/raleway-mega-bootstrap-template-WB09054T6" class="btn btn-primary btn-rw mt10">
            Get Involved
        </a>
    </div>

    <!-- Social -->
    <div class="col-sm-3 mg25-xs">
        <div class="heading-footer"><h4>Social Networks</h4></div>
        <a class="btn btn-social-icon btn-twitter btn-lg">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social-icon btn-instagram btn-lg">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="btn btn-social-icon btn-facebook btn-lg">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social-icon btn-vimeo btn-lg">
            <i class="fa fa-vimeo-square"></i>
        </a>
        <a class="btn btn-social-icon btn-linkedin btn-lg">
            <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-social-icon btn-google-plus btn-lg">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-social-icon btn-adn btn-lg">
            <i class="fa fa-adn"></i>
        </a>
        <a class="btn btn-social-icon btn-bitbucket btn-lg">
            <i class="fa fa-bitbucket"></i>
        </a>
        <a class="btn btn-social-icon btn-tumblr btn-lg">
            <i class="fa fa-tumblr"></i>
        </a>
        <a class="btn btn-social-icon btn-flickr btn-lg">
            <i class="fa fa-flickr"></i>
        </a>
    </div>

    <!-- Contact -->
    <div class="col-sm-3 mg25-xs">
        <div class="heading-footer"><h4>Contact us</h4></div>
        <p><span class="ion-home footer-info-icons"></span><small class="address"> www.connectforchange.com</small></p>
        <p><span class="ion-email footer-info-icons"></span><small class="address"><a href="mailto:info@raleway.com">info@inspire.com</a></small></p>
        <p><span class="ion-ios-telephone footer-info-icons"></span><small class="address">+11192386513</small></p>
    </div>

<!-- Copyright -->
<div class="row">
    <hr class="dark-hr">
    <div class="col-sm-11 col-xs-10">
        <p class="copyright">© 2015</p>
    </div>
    <div class="col-sm-1 col-xs-2 text-right">
        <a href="#" class="scroll-top"><div class="footer-scrolltop-holder"><span class="ion-ios-arrow-up footer-scrolltop"></span></div></a>
    </div>
</div><!-- /row -->
