<!-- Begin Carousel -->
<div class="carousel">
    <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHome" data-slide-to="1"></li>
            <li data-target="#carouselHome" data-slide-to="2"></li>
        </ol>

        <!-- Begin Wrapper for slides -->
        <div class="carousel-inner">

            <!-- Begin Item 1 -->
            <div class="item active">
                <!-- Item BG -->
                <div class="background-main" style="background-image:url('img/bg1.png');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                    <div class="container">
                        <div class="row carousel-content center-vertically-right">
                            <!-- Content -->
                            <div class="fadeInRight-animated" data-animation="fadeInRight">
                                <div class="carousel-description col-sm-5">
                                    <h3 class="heavy text-white"><span class="carousel-title-bgclear">Connecting + Chiming</span></h3><h3 class="heavy text-white"><span class="carousel-title-bgclear">Powerful Females</span></h3><h3 class="heavy text-white"><!-- <span class="carousel-title-bgclear">Connecting Mentors From 190+ Countries</span> --></h3>
                                    <p> Our mission is to empower women in the developing world through fostering the growth of healthy relationships and promoting safety in the developing world.</p>
                                </div>
                            </div>
                            <div class="fadeInLeft-animated" data-animation="fadeInLeft">
                                <div class="col-sm-6 col-sm-offset-1">
                                    <img src="img/3.jpg" class="img-responsive carousel-image" alt="Responsive Showcase">
                                </div>
                            </div>
                        </div><!-- /content container -->
                    </div><!-- /container -->
                </div><!-- /bg div -->
            </div><!-- /item -->
            <!-- End Item 1 -->

            <!-- Begin Item 2 -->
            <div class="item">
                <!-- Item BG -->
                <div style="background-image:url('img/bg4.jpg');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                    <div class="container">
                        <div class="row carousel-content center-vertically-left">
                            <!-- Img -->
                            <div class="fadeInLeft-animated" data-animation="fadeInLeft">
                                <div class="col-sm-6 hidden-xs">
                                    <img src="img/4.jpg" class="img-responsive carousel-image" alt="Responsive Showcase">
                                </div>
                            </div>
                            <!-- Content -->
                            <div class="fadeInRight-animated" data-animation="fadeInRight">
                                <div class="carousel-description mt10 col-sm-5 col-sm-offset-1">
                                    <h4 class="heavy text-white"><span class="carousel-title-bg">Safe Connections</span></h4>
                                    <h4 class="heavy text-white"><span class="carousel-title-bg">Healthy Conversations</span></h4>

                                    <p> Accessibility is key. Our user friendly foundation allows mentors and mentees to stay connected through SMS, web, video chat, as well as, in-person community building activities. Creating healthy relationships to sustainably promote safety in developing worlds</p>
                                    <a href="features.html" class="btn btn-rw btn-primary">
                                        Features &nbsp;&nbsp;<span class="ion-ios7-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div><!-- /content container -->
                    </div><!-- /container -->
                </div><!-- /bg div -->
            </div><!-- /item -->
            <!-- End Item 2 -->

            <!-- Begin Item 3 -->
            <div class="item">
                <!-- Item BG -->
                <div style="background-image:url('img/bg5.jpg');" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;">
                    <div class="container">
                        <div class="row carousel-content center-vertically-right">
                            <div class="fadeInUpBig-animated" data-animation="fadeInUpBig">
                                <div class="carousel-description col-sm-8 col-sm-offset-2 text-center">
                                    <!-- Content -->
                                    <span class="fa fa-heartbeat fa-4x text-white"></span>
                                    <h2 class="heavy text-white"><span class="carousel-title-bgclear"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,<br>
                                </div>
                            </div>
                        </div><!-- /content container -->
                    </div><!-- /container -->
                </div><!-- /bg div -->
            </div><!-- /item -->
            <!-- End Item 3 -->

        </div><!-- /carousel inner -->
        <!-- End Wrapper for slides -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
            <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
            <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
        </a>

    </div><!-- /carousel id div -->
</div><!-- /carousel div -->
<!-- End Carousel -->
