<!-- Begin Accordion + IMG  -->
<div class="mt40 mb40">
    <div class="container">

        <!-- Begin Title -->
        <div class="row">
            <div class="col-sm-12 mb20">
                <div class="heading"><h4>About us</h4></div>
            </div>
        </div>

        <!-- Begin Accordion Row -->
        <div class="row">

            <div class="col-sm-6" data-sr="enter left">

                <!-- Begin Accordion -->
                <div class="panel-group" id="accordion">
                    <!-- Item 1 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                              Over <b>30+</b> mentors.
                            </a>
                          </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->

                    <!-- Item 2 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                              We like pre built <i>futures</i>.
                            </a>
                          </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->

                    <!-- Item 3 -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                  We like to be creative.
                                </a>
                            </h4>
                        </div><!-- /panel heading -->
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Anim pariatur. Aliquam erat volutpat. Aenean euismod nisl sed justo pharetra, et pretium mauris porttitor. Mauris luctus justo eget tempus ornare. Pellentesque vitae sollicitudin ante.
                            </div>
                        </div><!-- /panel collapse -->
                    </div><!-- /panel -->
                </div><!-- /panel group -->

                <!-- Button -->
                <div class="text-center">
                    <a href="#" class="btn btn-rw btn-primary">
                        About us
                    </a>
                </div><!-- /button -->

            </div><!-- /column -->

            <!-- Begin Image -->
            <div class="col-sm-6" data-sr="enter bottom" >
                <%= image_tag "vibe-vixen-black-woman-white-study1.jpg", class: "img-responsive showcase-image", alt: "Responsive Showcase 2" %>
            </div><!-- /column -->

        </div><!-- /row -->
        <!-- End Accordion Row -->

    </div><!-- /container -->
</div><!-- /content -->
<!-- End Accordion + IMG -->

<!-- Begin Carousel + Intro -->
<div class="background-light-grey pt40 pb40 border-top">
    <div class="container">
        <!-- Begin Carousel + Content -->
        <div class="row">

            <!-- Begin Carousel -->
            <div class="col-sm-4" data-sr="enter left">
                <div id="homeCarousel2" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#homeCarousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#homeCarousel2" data-slide-to="1"></li>
                        <li data-target="#homeCarousel2" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div style="background-image:url('img/girl1.jpg'); height:260px;"></div>
                        </div>
                        <div class="item">
                            <div style="background-image:url('img/girl2.jpg'); height:260px"></div>
                        </div>
                        <div class="item">
                            <div style="background-image:url('img/backgrounds/stock1.jpg'); height:260px"></div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#homeCarousel2" role="button" data-slide="prev">
                        <span class="ion-ios7-arrow-left carousel-arrow-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#homeCarousel2" role="button" data-slide="next">
                        <span class="ion-ios7-arrow-right carousel-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div><!-- /column -->
            <!-- End Carousel -->

            <!-- Content Inside -->
            <div class="col-sm-8">
                <div class="heading mb20 mt30-xs"><h4><span class="ion-beaker mr15"></span>The Platform</h4></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinia, <a class="tooltip-active" data-toggle="tooltip" data-placement="top" title="Tooltip on top">adipiscing</a> nunc nec, hendrerit sapien. Sed in scelerisque tortor. Praesent porttitor odio non ullamcorper gravida.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu risus libero. Donec et lorem lacinisent porttitor odio non ullamcorper gravida.</p>
                <!-- List -->
                <ul class="list-arrow-2-color no-margin">
                    <li><small>Etiam mollis pharetra adipiscing. Etiam porta in sem vitae suscipit. </small></li>
                    <li><small>Consectetur adipiscing elit. Maecenas tempsam suscipit sagittis vestibulum.</small></li>
                    <li><small>Nulla volutpat aliquam velit</small></li>
                    <li><small>Faucibus porta lacus fringilla vel</small></li>
                </ul>
            </div><!-- /column -->
            <!-- End Content Inside -->

        </div><!-- /row -->
        <!-- End Carousel + Content -->

    </div><!-- /container -->
</div><!-- /content -->
<!-- End Carousel + Intro -->
